/* pseudo-classes */
article p:first-child,
li:last-child,
li:nth-child(3),
/* 1,3,5,7,9 */
li:nth-child(odd),
/* 2,4,6,8,10 */
li:nth-child(even) {
  font-size: 20px;
}

/* ankers */
a:link {
  text-decoration: none;
}

a:link:last-child {
  text-decoration: none;
}

a:visited {
  color: purple;
}

a:hover {
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline dotted orangered;
}

a:active {
  color: #121212;
}

/* CSS Box Model */
* {
  box-sizing: border-box;
  /* this sould to be always to keep the strict size of the widths and heights */
}

.boxModel {
  padding: 20px 40px;
  /* firstValue will be top & bottom */
  margin-right: 30px;
  border-bottom: 20px;
}

/* center a container */
.container {
  width: 85%;
  margin: 0 auto 0 auto;
}

/* types of elements ❗❗

:: display: block
* block elements -> that basically are there elements that need all the space in a single line
- div, body, main, header, p, h1-h6, footer, ul, ol, li, aside, section, nav

:: display: inline
* inline elements -> these can be in the same line with another elements occupies only the space that is necessary for the content
💭 paddings n margins are applied only horizontally (left & right)
💭 top and bottom donot apply
💭 height and width donot apply
- a, img, strong, em, button

To use both and apply margin at the top or bottom we can use the property
*/
.element {
  display: inline-block;
}


/* absolute and relative */

/* body or any container has to be relative */
.container {
  position: relative;
}

/* then the child can be absolute */
button {
  position: absolute;
  /* to center in x and y */
  top: 50%;
  bottom: 50px;
  left: 0;
  transform: translate(-50%, -50%);
}